* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
background-color: #09131b;
color: aliceblue;
min-height: 100vh;
}
.header {
    background: #122331;
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
}
.header a {
color: #fff;
}
.logo {
    font-size: 2rem;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.menu-items li {
    padding: 0.5rem 1rem;
    transition: all .3s ease-in-out;
}

.menu-items li:hover {
    background-color: #ff652f;
}
 /*dropdown*/
 .dropdown {
    position: relative;
 }
 .dropdown-menu, .menu-right {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #122331;
     opacity: 0;
     visibility: hidden;
     transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
 }
.menu-right {
    top: 0;
    left: 110%;
}
.dropdown-right:hover .menu-right {
    left: 100%;
    opacity: 1;
    visibility: visible;
}
 .menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .dropdown:hover .dropdown-menu {
    top: 34px;
    visibility: visible;
    opacity: 1;
 }
 /*mega menu*/
.mega-menu {
    position: absolute;
    left: 0;
    width: 80vw;
    top: 80px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.mega-menu .content {
    background-color: #122331;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}
.content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5rem;
}
.content .col h2 {
    font-size: 1.2rem;
    padding: 1rem 0;
    text-align: center;
}
.content .col .mega-links {
    border-left: 1px solid #1a3246;
}

.content .col .mega-links li,
.content .col .mega-links li  a {
padding: .5rem 2rem;
}
.content .col .img-wrapper img {
   width: 220px;
   height: 200px;
   padding-left: 1rem ;
}
.content .col p {
    text-align: center;
}
.read-more {
    text-align: center;
    color: blue;
}
.menu-items li:hover .mega-menu {
    top: 60px;
    opacity: 1;
    visibility: visible;
}

/*nav meneu buttons*/
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 2;

}
.menu-btn_lines::before,
.menu-btn_lines::after {
    content: "";
    position: absolute;
}
.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #fff;
    transition: all .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-btn_lines::before {
    transform: translateY(-0.5rem);
}
.menu-btn_lines::after {
    transform: translateY(0.5rem);
}
.menu-btn.open .menu-btn_lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}
.menu-btn.open .menu-btn_lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

.menu-btn.open .menu-btn_lines {
    transform: translateX(2rem);
   background-color: transparent;
}

/*Media Queries*/
@media screen and (max-width:970px) {
    .menu-btn {
        display: flex;
    }
    .header .menu-items {
        position: absolute;
        height: calc(100vh - 100%);
        width: 100%;
        max-width: 350px;
        top: 100%;
        right: 0;
        background-color: #122331;
        display: block;
        padding: 1rem;
        line-height: 3rem; 
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        transform: translateY(-10vh);
        transition: all .3s ease-in-out;
        z-index: -1;
    }
    .menu-items.open {
        opacity: 1;
        transform: translateY(0);
    }
    .menu-items li {
        margin: 15px 10px;
    }
    .menu-items li:hover {
        background-color: transparent;
    }
    .menu-items li a {
        display: block;
        font-size: 1.4rem;
    }
  
/*Drop down Drop down-menu*/
.menu-items .dropdown-menu,
.menu-items .menu-right,
.menu-items .mega-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 4rem;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    transform: translateY(0);
    transform-origin: top;
    overflow: hidden;
}
.expand-btn.open + .expandable {
    max-height: 100%;
    transform: translateY(1);
}
.expandable li {
    margin: 0;
}
.expandable li a {
    font-size: 1rem;
}
.mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
}
.mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
}
.mega-menu .content .col:nth-child(1) {
    border-top: 0px;
}
.mega-menu .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
}
.mega-menu .col .mega-links li {
    margin: 0;
}
}


