/* countdown styles  */
.countdown .time {
    background-color: var(--color-primary);
    margin: 0 1rem;
    padding: 3rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.329);
  }
  .countdown .time span, .countdown .time p {
    color: #fff;
    line-height: 1rem;
  }
  .countdown .time span {
    font-size: 2.7rem;
    font-weight: 300;
    padding-bottom: 5px;
  }
  .brand-logo {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
  }
  .brand-logo img {
    width: 100%;
  }
  .title {
    margin-top: -7rem;
  }
  .comming-soon-banner img {
    margin-left: -3em;
    margin-top: -10rem;
    height: 100vh;
    width: 60vw;

  }
  /*end of countdown styles  */
  @media only screen and (max-width: 767px) {
    .countdown .time {
        background-color: var(--color-primary);
        margin: 0 .5rem;
        padding: 1.5rem;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.329);
      }
      .countdown .time span, .countdown .time p {
        color: #fff;
        line-height: 1rem;
      }
      .countdown .time span {
        font-size: 1.7rem;
        font-weight: 300;
        padding-bottom: 5px;
      }
}  